.hAxiomScroll
{
    bottom:0;
    position: absolute;
    margin:1px;
    overflow-x: scroll;
}

.vAxiomScroll
{
    position: absolute;
    right:0;
    margin:1px;
    overflow-y: scroll;
}

.mainAxiomCanvas
{
    position:absolute;
    top:0;
    left:0;
}

.mainComponentDiv
{
    position:absolute;
    top:0;
    left:0;
}

.cellSelector
{
    position:absolute;
}

.cellEditor
{
    position:absolute;
    background-color: #fff;
    border: 2px solid green;
    font-size: 15px;
    font-family: Calibri;
    cursor: default;
    white-space: pre-wrap; /*resize: none;*/
    overflow-x: hidden;
    overflow-y: auto;
    outline:none;
    padding:2px;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:3px;
    padding-left:3px;
    color: Black;
}

.mainEvents
{
    position:absolute;
    top:0;
    left:0;
}